<a href="<%= carts_path %>" class="btn-gray-bor btn btn-login" style="margin-top: 0.5px; padding-right: 6px;padding-left: 6px;border-bottom-width: 1px;border-top-width: 1px;"><img alt="Cart" src="<%= asset_path 'cart.png' %>" /><span class="badge cart-text" id="cart-total" style="margin-left: 5px"><%= "#{current_order.cart_items.size}" %></span></a>
