<p>Dear <%=@user.name.titleize%>,</p>
<p>You have purchased <%=@media.media_file_name%>, which will be deleted after 24 hours. After deletion the service for downloading the media will not be available.</p>
<p>Kindly download your media before it gets deleted.</p>
<p>Thanks,</p>
<p>Online Church Media Support Team</p>