<p>Hi <%= @name%>,</p>

<p>Thank you for your purchase of <%= @subtotal%> on <%= Date.today%></p>

<p>Please keep this receipt for your accounting records.</p>

<p>Yours in Christ,</p>
<p>The Online Church Media Team<br>
  <a href="http://www.onlinechurchmedia.com/" style="text-decoration: blink;">http://www.onlinechurchmedia.com</a>
</p>