<p>Hi <%=@user.name.titleize%>,</p>
<br>
<p align = "justify">This is to inform you that your subscription has expired on <%=@effective_to%>. In order to enjoy uninterrupted service, renew your subscription, else your account will be deactivated after 10 days of expiration of subscription.</p>
<br>
<p>Thanks,</p>
<p>Online Church Media Support Team</p>