<p>Hi <%=@user.name%>,</p>
<p align = "justify">Sorry you left special offer.</p>
<!-- <p align = "justify"> <b><%#=@user.name%><br> -->
<p align = "justify"> <b>Your feedback: <%=@msg.feedback%><br>Your Reason For cancellation: <%= @msg.reason%><b></p>
<br>
<p>Thanks,</p>
<p>AutoMail</p>