<p>Hi Support Team,</p>
<br>
<p align = "justify">This is to inform you that we have received query from customer. Please look into this as soon as possible. The message is:</p>
<p align = "justify"> <b><%=@msg%><br><br> Thanks,<br><%= @name %> <br><%= @email %><b></p>
<br>
<p>Thanks,</p>
<p>AutoMail</p>