<div class="container container-fix">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="heading-title text-left">Edit Category</h2>
        </div>
        <div class="col-sm-12">
            <%= form_for @category,:url=> {:controller => 'categories', :action => 'update'},:html=>{:class=>"form-horizontal", :role =>"form", :id => "edit_category_form"} do |f| %>
                <div class="container">
                    <div class="form-group">
                        <label class="col-sm-2 control-label required">Category Name</label>
                        <div class="col-sm-4">
                             <%= f.text_field :category_name, :class => "form-control", :disabled =>false  %>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-2 col-sm-8">
                               <!--<button type="button" class="btn btn-default" onclick="enablePath();" id="edit">Edit</button>
                               <button type="submit" id="save" disabled class="btn btn-default">Save</button>-->
                               <a class="btn btn-info" href="/categories/new">Back</a>
                               <%= f.submit "Save",:class=>"btn btn-info" %>

                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>


<%= javascript_include_tag 'category_subcategory.js' %>
