<p>Hi <%= @resource.name %>,</p>
<p>It’s OK, everyone loses their password once in a while.</p>

<p>To recover your login details for Online Church Media, simply follow this link:</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token).sub(/\/\/#{ENV['ADMIN_SUBDOMAIN']}./, "\/\/#{@resource.subdomain.subdomain_name}.") %></p>

<p>Please let us know if we can offer any other assistance.</p>
<p>Yours in Christ,</p>
<p>The Online Church Media Team<br>
    <a href="http://www.onlinechurchmedia.com/" style="text-decoration: blink;">http://www.onlinechurchmedia.com</a>
</p>
