 <div class="container container-fix">
        <div class="row">
            <!--========================   Heading Start  ======================-->
         <!--    <div class="col-sm-12">
                <h2 class="heading-title text-left" style="margin-top: 20px;">
                    We Believe in the Power of God’s Word
                </h2>
            </div>
        </div> -->
      <!--========================   Heading End  ======================-->
  <!--   <div class="row"> -->
            <div class="col-sm-12">
               <!--  <p>
                    It is through the words of the scripture that we share wisdom and salvation through Jesus.  Our commitment is to help churches and ministries reach their people wherever they are, allowing them to stay connected to God at all times.
                </p>
                <p>
                    True to our belief that God’s Word is powerful and relevant to everyone, we are open to all Christian denominations. Our platform is useful for churches of all sizes – whether your congregation has 100 people or 100,000.
                </p>
                <p>
                    We leverage the most sophisticated technology to help churches deliver inspiration through digital media, strengthening each one with a reliable and steady stream of income.
                </p>
                <p>
                    Please get in touch with us if you would like to find out more about how Online Church Media can help you with your digital media and financial goals.
                </p>
                <p>
                    Find Out More >>
                </p><br><br>
                <p class="text-center">
                    Do not withhold good from those who deserve it when it's in your power to help them.

                    <br> ~ Proverbs 3:27
                </p> -->
              
                <div class="panel panel-default">
               <div class="panel-heading">  
                  <h2>
                    We Believe in the Power of God’s Word
                  </h2>
               </div>

              <div class="panel-body">
                <!--  <div class="well"> -->
               <p>
                    It is through the words of the scripture that we share wisdom and salvation through Jesus.  Our commitment is to help churches and ministries reach their people wherever they are, allowing them to stay connected to God at all times.
                </p>
                <p>
                    True to our belief that God’s Word is powerful and relevant to everyone, we are open to all Christian denominations. Our platform is useful for churches of all sizes – whether your congregation has 100 people or 100,000.
                </p>
                <p>
                    We leverage the most sophisticated technology to help churches deliver inspiration through digital media, strengthening each one with a reliable and steady stream of income.
                </p>
                <p>
                    Please get in touch with us if you would like to find out more about how Online Church Media can help you with your digital media and financial goals.
                </p> 
                <p>
                   <a href="/#about "> Find Out More >></a>
                </p>
            <!--     </div> -->
              </div>

              <div class="panel-footer">
                   <p class="text-center">
                    Do not withhold good from those who deserve it when it's in your power to help them.
                    <br> ~ Proverbs 3:27
                  </p>
              </div>
            </div>
          </div>
        </div>
    <!--========================   Upload   End  ======================-->
</div>



<%= javascript_include_tag  'bootstrap-colorpicker.js', 'bootstrap-datetimepicker.min.js', 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js',  'ekko-lightbox.js', 'icheck.min.js', 'jquery.raty.js', 'summernote.min.js' %>