 <div class="container container-fix">
        <div class="row">
            <!--========================   Heading Start  ======================-->
         <!--    <div class="col-sm-12">
                <h2 class="heading-title text-left" style="margin-top: 20px;">
                    It’s Easy to Set Up & Start Earning Revenue Right Away
                </h2>
            </div>
        </div> -->
      <!--========================   Heading End  ======================-->
   <!--  <div class="row"> -->
            <div class="col-sm-12">
               <!--  <p>
                    We have carefully designed our church media platform to make it easy to use and intuitive. You don’t need to know a single line of code to get started. In addition to helping you promote and sell your church media, Online Church Media also helps you keep track of sales and other key statistics so you can monitor the fiscal health of your church.
                </p>
                <p>
                    When you sign up, you get a unique URL for your church’s digital store. You can add this URL to an existing website, if your church has one, or you can send members of your congregation directly to this URL through other communications.
                </p>
                <p>
                    With the Online Church Media platform, you can:
                    <ul>                  
                        <li>
                        Customize your church’s web store with logo, color theme and welcome text</li>

                        <li>
                        Add new media files and remove outdated files at any time</li>

                        
                        <li>
                        Change your prices to reflect seasonal discounts or bulk rates</li>

                        <li>
                        Track your sales and media activity</li>

                        <li> Generate revenue forecasting reports</li>

                        <li>Automate your communications with your customers to keep them engaged</li>
                    </ul>
                </p>
                <p>
                    Your first month is free, so there is no risk to signing up.</p>
                <p>
                    Get Started Now  >>
                </p> -->
               <div class="panel panel-default">
               <div class="panel-heading">  
                  <h2>
                  It’s Easy to Set Up & Start Earning Revenue Right Away
                  </h2>
               </div>

              <div class="panel-body">
                <!--  <div class="well"> -->
               <p>
                    We have carefully designed our church music platform to make it easy to use and intuitive. You don’t need to know a single line of code to get started. In addition to helping you promote and sell your church music, Online Church Music also helps you keep track of sales and other key statistics so you can monitor the fiscal health of your church.
                </p>
                <p>
                    When you sign up, you get a unique URL for your church’s digital store. You can add this URL to an existing website, if your church has one, or you can send members of your congregation directly to this URL through other communications.
                </p>
                <p>
                    With the Online Church Music platform, you can: </p>
                    <ul>                  
                        <li>
                        Customize your church’s web store with logo, color theme and welcome text</li>

                        <li>
                        Add new media files and remove outdated files at any time</li>

                        
                        <li>
                        Change your prices to reflect seasonal discounts or bulk rates</li>

                        <li>
                        Track your sales and media activity</li>

                        <li> Generate revenue forecasting reports</li>

                        <li>Automate your communications with your customers to keep them engaged</li>
                    </ul>
                <p>
                    Your first month is free, so there is no risk to signing up.</p>
                <p>
                  <a href="/SignUp">   Get Started Now  >></a>
                </p> 

            <!--     </div> -->
            
              </div>

              <div class="panel-footer">
                
                    <p class="text-center">
                        For whatever was written in former days was written for our instruction,<br> that through endurance and through the encouragement of the Scriptures we might have hope.
                        <br> ~ Romans 15:4
                    </p>
              </div>
              </div>
            </div>
        </div>
    <!--========================   Upload   End  ======================-->
</div>



<%= javascript_include_tag  'bootstrap-colorpicker.js', 'bootstrap-datetimepicker.min.js', 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js',  'ekko-lightbox.js', 'icheck.min.js', 'jquery.raty.js', 'summernote.min.js' %>