
    <div class="container container-fix">
        <div class="row">
            <!--========================   Heading Start  ======================-->
          <!--   <div class="col-sm-12">
                <h2 class="heading-title text-left" style="margin-top: 20px;">
                    Refund Policy
                </h2>
            </div>
        </div> -->
      <!--========================   Heading End  ======================-->
    <!-- <div class="row"> -->
            <div class="col-sm-12">
                <!-- <p>
                    Refund Policy
                </p> -->
              <!--   <p>
                  You can easily cancel your subscription at any time. There are no cancellation fees, though no refunds are provided for prorated periods. 
                </p>
                <p>
                  1. A valid credit card is required for paying accounts. A credit card is not required to create or use a free account.
                </p>
                <p>
                  2. We will charge you a standard monthly fee based on your account type. The Service is billed in advance for each month, and is non-refundable. There will be no refunds or credits for partial months of service, or refunds made should you not use the Service during a period of time when your account is open. No exceptions will be made.
                </p>
                <p>
                  3. Should you upgrade your account type between billing cycles, your credit card will be charged the difference between your old billing rate and your new billing rate immediately. Your credit card will then be charged your new billing rate plus any overage fees again on your subscription anniversary. You will continue to be charged the new billing rate until you change your plan again or cancel your account.
                </p>
                <p>
                  4. All fees are exclusive of all taxes or duties imposed by governing authorities. You alone are responsible for payment of all such taxes or duties.
                </p> -->
                
                   <div class="panel panel-default">
                  <div class="panel-heading">  
                    <h2>
                        Refund Policy
                    </h2>
                  </div>

                    <div class="panel-body">
                         <p>
                      You can easily cancel your subscription at any time. There are no cancellation fees, though no refunds are provided for prorated periods. 
                     </p>
                      <p>
                      1. A valid credit card is required for paying accounts. A credit card is not required to create or use a free account.
                     </p>
                       <p>
                       2. We will charge you a standard monthly fee based on your account type. The Service is billed in advance for each month, and is non-refundable. There will be no refunds or credits for partial months of service, or refunds made should you not use the Service during a period of time when your account is open. No exceptions will be made.
                      </p>
                       <p>
                       3. Should you upgrade your account type between billing cycles, your credit card will be charged the difference between your old billing rate and your new billing rate immediately. Your credit card will then be charged your new billing rate plus any overage fees again on your subscription anniversary. You will continue to be charged the new billing rate until you change your plan again or cancel your account.
                      </p>
                         <p>
                        4. All fees are exclusive of all taxes or duties imposed by governing authorities. You alone are responsible for payment of all such taxes or duties.
                      </p> 
              
                    </div>
               </div>
           </div>
    <!--========================   Upload   End  ======================-->
</div>



<%= javascript_include_tag  'bootstrap-colorpicker.js', 'bootstrap-datetimepicker.min.js', 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js',  'ekko-lightbox.js', 'icheck.min.js', 'jquery.raty.js', 'summernote.min.js' %>