 <div class="container container-fix">
        <div class="row">
            <!--========================   Heading Start  ======================-->
            <div class="col-sm-12">
                <h2 class="heading-title text-left" style="margin-top: 20px;">
                    Terms of Services
                </h2>
            </div>
        </div>
      <!--========================   Heading End  ======================-->
    <div class="row">
            <div class="col-sm-12">
            <div class="well">
                <div class="well">
                    <p><strong>
                        1. Online Church Media Terms of Service</strong>
                    </p>
                    <p>
                        <p>PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE ONLINECHURCHMEDIA.COM WEBSITE OR RELATED SERVICES. YOUR ACCESS OR OTHER USE OF THE ONLINE CHURCH MEDIA SITE OR SERVICES CONSTITUTES YOUR AGREEMENT TO BE BOUND BY THE TERMS OF SERVICE SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE ONLINE CHURCH MEDIA SITE OR SERVICES AND SHOULD EXIT IMMEDIATELY.
                        </p>

                        <p>Usage of Online Church Media and its related services ("Service") are subject to your compliance with the terms and conditions ("Terms of Service") set forth below.
                        </p>

                        Online Church Media reserves the right to update and modify the Terms of Service at any time without notice. New features that may be added to the Service shall be subject to the Terms of Service. Should you continue to use the Service after any such modifications have been made, this shall constitute your agreement to such modifications. You may always view the most recent copy of the Terms of Service here: http://www.OnlineChurchMedia.com/tos
                        Violation of any part of the Terms of Service may result in termination of your account.
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>2. Account Terms</strong>
                    </p>
                    <p>
                        1. You must be 18 years or older to use this Service.
                    </p>
                    <p>
                        2. You must provide your full legal name, a valid email address, and any other required information to complete the sign-up process.
                    </p>
                    <p>
                        3. You are responsible for maintaining the privacy and security of your account. Online Church Media will not be held liable for any damage or loss that may result from your failure to protect your login information, including your password.
                    </p>
                    <p>
                        4. One person may not maintain more than one free account.
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>3. Intent of Basic/Pro Plans and Bandwidth Restrictions</strong>
                    </p>
                    <p>
                        Online Church Media offers Basic and Pro level media hosting plans. The basic plans listed on our marketing site (www.OnlineChurchMedia.com) are neither intended for nor designed for enterprise networks, corporate customers, or others with high bandwidth requirements. Online Church Media may, at its discretion, move accounts utilizing a high volume of outbound data transfer to the Online Church Media Pro plan. These "High Bandwidth Consumers" are typically defined by exceeding 200 gigabytes of outbound transfer within 30 days, media play counts consistently exceeding 5,000 plays, historical media exceeding 10,000 plays, and/or the media listeners number exceeding 2,500. 
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>4. Media Submission Terms</strong>
                    </p>
                    <p>
                        By submitting Media, you waive the right to make any claim against Online Church Media or any of its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders related to the Media, including, but not limited to, unfair competition, intellectual property infringement, invasion of privacy, negligence, breach of implied contract or breach of confidentiality, and you further waive all moral rights, so-called "droits morales" and any right of attribution you may have in any materials uploaded or sent to us by you. You represent and warrant that your Media: (a) shall be true, accurate, current, complete and not misleading, (b) shall not violate the rights of any third party, including, but not limited to, intellectual property and proprietary rights, (c) shall not be fraudulent or involve counterfeit or stolen information or items, (d) shall not violate any law, statute, ordinance or regulation, and (e) shall not create any liability for Online Church Media or any of its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders. You also agree to maintain and promptly update your Media by means of the Services in order to keep that information true, accurate, current and complete.
                    </p>

                    <p>
                        You further represent and warrant that (i) you own or have the necessary licenses, rights, consents and permissions to use and authorize Online Church Media to use all patent, trademark, trade secret, copyright or other proprietary rights in and to your Media to enable inclusion and use of the Media in the manner contemplated by this TOS; and (ii) you have any and all necessary written or implied consents, releases, and/or permissions of each and every identifiable individual person in the Media to use the name, picture and likeness of each and every such identifiable individual person to enable inclusion and use of the Media in the manner contemplated by this Agreement.
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>5. Notice: User-Generated-Content Disclaimer</strong>
                    </p>
                    <p>
                        Online Church Media does not and cannot review all content posted to or created by users accessing the Services (including, but not limited to, the Online Church Media Site), and is not in any manner responsible for the content of these communications or the activities of these users. You acknowledge that by providing you with the ability to view and distribute user-generated-content through the Services (including, but not limited to, the Online Church Media Site), Online Church Media is merely acting as a passive conduit for the distribution of such information, and is not undertaking any obligation or liability relating to the content or the users' activities. Accordingly, Online Church Media does not guarantee the accuracy, integrity, completeness, non-infringement or quality of such content. Online Church Media and its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders do not undertake or assume any duty to monitor the Online Church Media Site for inappropriate content. You understand that by using the Online Church Media Site or Services, you may be exposed to content that is offensive, indecent or objectionable. Under no circumstances will Online Church Media be liable in any way for any content, including, but not limited to, for any errors or omissions in any content, or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed or otherwise transmitted on or via the Online Church Media Site or Services. Online Church Media and its respective parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers and shareholders assume no responsibility or liability which may arise from the content thereof, including, but not limited to, claims for defamation, libel, slander, infringement, invasion of privacy and publicity rights, obscenity, pornography, profanity, fraud, or misrepresentation. Notwithstanding the foregoing, Online Church Media reserves the right to block or remove communications, postings or materials that it determines to be (a) abusive, defamatory, or obscene, (b) fraudulent, deceptive, or misleading; (c) in violation of a copyright, trademark, patent, trade secret, intellectual property or other rights of another or (d) offensive or otherwise unacceptable to Online Church Media, in its sole discretion. 
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>6. Honesty Policy</strong>
                    </p>
                    <p>
                        <p>1. There is no copyrighted content allowed on the Online Church Media site, unless you personally hold the copyright. This includes but not limited to audio from ripped CDs, purchased digital music, audio books, TV shows or audio you found on the web.</p>

                        <p>2. You may not post content unless you created it or participated closely in its creation. "I have permission" does not mean you created it.</p>

                        <p>3. You may not post content that contains pornography or sexually explicit material.</p>

                        <p>4. You may not post content that is unlawful, harmful, threatening, abusive, harassing, tortuous, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable.</p>

                        <p>5. You may not post content that is harmful to minors in any way.</p>

                        <p>6. You may not post content that impersonates any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity.</p>

                        <p>7. You may not forge headers or otherwise manipulate identifiers in order to disguise the origin of any content transmitted through the Service.</p>

                        <p>8. You may not solicit other users of the Online Church Media Site to join or become members of any online or other service.</p>

                        <p>9. You may not upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation.</p>

                        <b>If you do not follow these simple guidelines we reserve the right to delete your account without warning.</b>
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>7. Payment and Access</strong>
                    </p>
                    <p>
                        <p>1. A valid credit card is required for paying accounts. A credit card is not required to create or use a free account.</p>

                        <p>2. We will charge you a standard monthly fee based on your account type. The Service is billed in advance for each month, and is non-refundable. There will be no refunds or credits for partial months of service, or refunds made should you not use the Service during a period of time when your account is open. No exceptions will be made.</p>

                        <p>3. Should you upgrade your account type between billing cycles, your credit card will be charged the difference between your old billing rate and your new billing rate immediately. Your credit card will then be charged your new billing rate plus any overage fees again on your subscription anniversary. You will continue to be charged the new billing rate until you change your plan again or cancel your account.</p>

                        <p>4. All fees are exclusive of all taxes or duties imposed by governing authorities. You alone are responsible for payment of all such taxes or duties.</p>
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>8. Modifications to the Service and Fees</strong>
                    </p>
                    <p>
                        1. Online Church Media reserves the right to modify, suspend, or discontinue the Service at any time for any reason with or without notice.
                    </p>
                    <p>
                        2. Online Church Media reserves the right to change our monthly fees at any time. Current fees will always be posted on the Online Church Media website: http://www.OnlineChurchMedia.com
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>9. Cancellation and Termination</strong>
                    </p>
                    <p>
                        <p>1. You alone are responsible for the proper cancellation of your account. You may cancel your account at any time by clicking on My Account > Cancel Your Account links in the Service's navigation menu. This provides a simple link to cancel your account at any time. Email or phone requests to cancel your account will not be deemed cancellation.</p>

                        <p>2. You can cancel at any time, but you will remain liable for all charges accrued up to that time, including full monthly charges for the month which you discontinued service. You will not be charged again.</p>

                        <p>3. Online Church Media reserves the right to modify, suspend, or terminate your account at any time for any reason without notice or refund. We also reserve the right to delete all Content associated with your account. Online Church Media may refuse service to anyone for any reason at any time.</p>
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>10. Copyright and Ownership</strong>
                    </p>
                    <p>
                        <p>1. Online Church Media or its suppliers own the intellectual property rights to any and all protectable components of the Service, including but not limited to the name of the Service, artwork and end-user interface elements contained within the Service, many of the individual features, and the related documentation. You may not copy, modify, adapt, reproduce, distribute, reverse engineer, decompile, or dissemble any aspect of the Service which Online Church Media or its suppliers own.</p>
                        <p>
                            2. Online Church Media claims no intellectual property rights over the Content you upload or provide to the Service. However, by using the Service to send Content, you agree that others may view and share your Content.
                        </p>
                    </p>
                </div>
                <div class="well">
                    <p>
                        <strong>11. General Conditions</strong>
                    </p>
                    <p>
                        <p>1. Your use of the Service, including any content, information or functionality contained within it, is provided "as is" and "as available" with no representations or warranties of any kind, either expressed or implied, including but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. You assume total responsibility and risk for your use of this Service.</p>
                        <p>
                            2. You agree not to resell, duplicate, reproduce or exploit any part of the Service without the express written permission of Online Church Media.
                        </p>
                        <p>
                            3. You may not use the service to store, host, or send unsolicited email (spam) or SMS messages.
                        </p>
                        <p>
                            4. You understand that the Service can be used for transmission of your Content, and that during processing, your Content, including Audio files, Video files, File meta data, users names, email addresses and passwords, may be transferred unencrypted over the internet.
                        </p>
                        <p>
                            5. You may not use the service to transmit any viruses, worms, or malicious content.
                        </p>
                        <p>
                            6. Online Church Media makes no warranties regarding (i) your ability to use the Service, (ii) your satisfaction with the Service, (iii) that the Service will be available at all times, uninterrupted, and error-free (iv), the accuracy of mathematical calculations performed by the Service, and (v) that bugs or errors in the Service will be corrected.
                        </p>
                        <p>
                            7. Online Church Media, its affiliates and its sponsors are neither responsible nor liable for any direct, indirect, incidental, consequential, special, exemplary, punitive or other damages arising out of or relating in any way to your use of the Service. Your sole remedy for dissatisfaction with the Service is to stop using the Service.
                        </p>
                        <p>
                            8. If any provision of the Terms of Service is held invalid or otherwise unenforceable, the enforceability of the remaining provisions shall not be impaired thereby.
                        </p>
                        <p>
                            9. The failure of Online Church Media to exercise any right provided for herein shall not be deemed a waiver of any right hereunder. The Terms of Service sets forth the entire understanding between you and Online Church Media as to the Service and supersedes any prior agreements between you and Online Church Media (including, but not limited to, prior versions of the Terms of Service).
                        </p>
                        <p>
                            10. Any questions regarding the Terms of Service should be addressed to support at Online Church Media dot com.
                        </p>
                    </p>
                </div>

            </div>

            </div>
        </div>
    <!--========================   Upload   End  ======================-->
</div>



<%= javascript_include_tag  'bootstrap-colorpicker.js', 'bootstrap-datetimepicker.min.js', 'bootstrap-hover-dropdown.js', 'bootstrap-tabdrop.js',  'ekko-lightbox.js', 'icheck.min.js', 'jquery.raty.js', 'summernote.min.js' %>